.aside {
   position: fixed;
   top: 0;
   left: 0;
   width: 20%;
   height: 100vh;
   background-color: #191C21;
   padding: 35px 40px 100px 40px;
   z-index: 10;

   &-logo {
      display: block;
      width: 60px;
      height: 60px;
      overflow: hidden;
      margin-bottom: 48.5px;

      img {
         width: 100%;
         height: 100%;
      }
   }
}

.list {
   display: grid;
   font-size: 16px;
   margin-bottom: 35px;

   p,
   a {
      margin: 7px 0;
   }

   &-name {
      text-transform: uppercase;
      color: $font-col;
   }

   &-link {
      font-size: 20px;
      font-family: 'gilroy600', sans-serif;
      display: flex;
      justify-content: space-between;
      position: relative;
      transition: color .3s linear;

      a {
         color: $white;
         position: relative;

         &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $blue-col;
            position: absolute;
            left: 0;
            bottom: -2px;
            transition: opacity .2s linear;
            opacity: 0;
         }
      }

      &:hover {
         a {
            color: $blue-col;

            &::after {
               opacity: 1;
            }
         }


      }



   }

   &-liked {
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
         font-size: 16px;
      }
   }

}