.audio {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   height: 80px;
   background-color: black;
   z-index: 100;

   display: flex;
   align-items: center;

   &-user {
      width: 20%;
      padding: 0 20px;
      color: $white;

      &-album {
         font-size: 16px;
      }
   }

   &-play {
      width: 50%;
      margin: 0 auto;
   }
}

audio:hover,
audio:focus,
audio:active {
   transform: scale(1.05);
}

audio {
   transition: all 0.5s linear;
   border-radius: 7px 7px 7px 7px;
}