@font-face {
   font-family: "gilroy400";
   src: url('./fonts/Gilroy-Regular.ttf');
}

@font-face {
   font-family: "gilroy700";
   src: url('./fonts/Gilroy-Bold.ttf');
}

@font-face {
   font-family: "gilroy300";
   src: url('./fonts/Gilroy-Light.ttf');
}

@font-face {
   font-family: "gilroy600";
   src: url('./fonts/Gilroy-SemiBold.ttf');
}