.header {
   width: 80%;
   height: 120px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;

   &-search {
      width: 60%;
      display: flex;
      align-items: center;
      position: relative;

      img {
         filter: invert(100%);
         position: absolute;
         top: 50%;
         left: 3%;
         transform: translateY(-50%);
      }
   }

   &-user {
      color: $white;
      font-size: 20px;

      &-name {
         margin-bottom: 5px;
      }

      &-status {
         font-size: 16px;
         text-align: end;
         color: $font-col;
      }
   }

}

.search {
   width: 100%;
   height: 50px;
   background-color: #265249;
   padding: 0 50px 0 55px;
   color: $white;
   font-size: 20px;
   font-weight: 700;
   border-radius: 10px;

   &::placeholder {
      color: $font-col;
      font-size: 16px;
   }
}