.info_tracks {
   width: calc(100% - 160px);
   height: 500px;
   background: rgb(30, 78, 17);
   background: linear-gradient(180deg, #003329, rgba(0, 0, 0, 0) 100%);
   padding: 80px;
   display: flex;
   justify-content: space-between;
}

.name-tracks {
   font-weight: bold;
   font-size: 80px;
   color: #00ECBE;
}

.name-track {
   font-size: 58px;
}

.time {
   font-size: 16px;
}

.right-left img {
   width: 25px;
   padding: 3px;
   background-color: white;
   border-radius: 50%;
}

.right-left img:hover {
   cursor: pointer;
}

.carousel {
   margin-top: 80px;
   display: flex;
}

.circle {
   background-color: #4E555D;
   width: 11px;
   height: 11px;
   margin: 5px;
   padding: 3px;
   border-radius: 50%;
}

.circle.active {
   background-color: rgb(11, 68, 11);
}

.circle:hover {
   cursor: pointer;
}

.left-side .time {
   margin-top: 18px;
   margin-bottom: 18px;
}

.album {
   box-shadow: 15px -15px 6px 5px #ffffff6b;
}

.tracks {
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   background-color: #191C21;
   padding: 50px;
}

.item {
   text-transform: uppercase;
   font-size: 20px;
   color: #7a7e83;
   font-weight: 600;
}

.track {
   display: flex;
   margin-top: 10px;
   align-items: center;
}

.about {
   display: flex;
   margin-left: 10px;
   align-items: center;
}

.time-menu {
   margin-left: 15px;
   display: flex;
   position: relative;
}

.time-menu p {
   margin: 5px;
}

.time-menu img {
   filter: invert(100%);
}

.num {
   margin-right: 15px;
}

.toUpper {
   text-transform: uppercase;
   color: black;
}

.menu {
   transform: translateY(10px);
   transition: 300ms ease;
   width: 150px;
   padding: 5px 10px;
   top: -100px;
   right: -150px;
   position: absolute;
   background-color: white;
   backdrop-filter: blur(10px);
   opacity: 0;
   border-radius: 6px;
}

.three-circle:hover+.menu {
   transform: translateY(0px);
   cursor: pointer;
   opacity: 1;
}

.toUpper:hover {
   cursor: pointer;
}

.menu:hover {
   transform: translateY(0px);
   opacity: 1;
   height: max-content;

}

.three-circle {
   margin-left: 5px;
}

body::-webkit-scrollbar {
   width: 10px;
   background-color: #191C21;
}

body::-webkit-scrollbar-track {
   -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
   background-color: #4E555D;
   border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: #7a7e83;
}

* {
   padding: 0;
   margin: 0;
   font-family: 'Gilroy';
   text-decoration: none;
}

body {
   background-color: black;
   color: white;
}