@import "mixing";
@import "fonts";
@import "reset";
@import "audio";

@import "aside";
@import "header";
@import "main";
@import "setting";


body {
   font-family: "gilroy600", sans-serif;
   font-size: 16px;
   background: $white;
}

.wrapper {
   width: 80%;
   float: right;
   // background color нужно изменить на linear
   background-color: #002C23;
   position: relative;
   z-index: 1;
}

main {
   width: 100%;
   height: 100vh;
}