<aside class="aside">
   <a href="./index.html" class="aside-logo">
      <img src="./img/spotify-logo.png">
   </a>
   <div class="list">
      <p class="list-name">NAVIGATION</p>
      <div class="list-link">
         <a href="./index.html">Homepage</a>
      </div>
      <div class="list-link">
         <a href="./playlist.html">Playlists</a>
      </div>
      <div class="list-link">
         <a href="./settings.html">Settings</a>
      </div>
   </div>
   <div class="list">
      <p class="list-name">PLAYLISTS</p>
      <div class="list-link">
         <a href="./userlist.html">Liked songs</a>
      </div>
   </div>
   <div class="list">
      <p class="list-name">liked songs</p>
      <div class="list-link list-liked">
         <a href="#" class="list-link">Rampampam</a>
         <span>3:53</span>
      </div>
      <div class="list-link list-liked">
         <a href="#" class="list-link">Nice to meet ya</a>
         <span>4:53</span>
      </div>
      <div class="list-link list-liked">
         <a href="#" class="list-link">Nice to meet ya</a>
         <span>4:53</span>
      </div>
   </div>
</aside>