<div class="audio">
   <a href="#" class="audio-user">
      <p class="audio-user-name">The Weeknd</p>
      <span class="audio-user-album">Starboy</span>
   </a>
   <audio class="audio-play" src="" controls muted></audio>
</div>