<header class="header">
   <div class="header-search">
      <input type="text" class="search" placeholder="Search by name and artist">
      <img src="./img/search.png" width="30px">
   </div>
   <a href="#" class="header-user">
      <div class="header-user-name">Alex Adams</div>
      <div class="header-user-status">Free user</div>
   </a>
</header>